/*
	body{
		background-image: url("img/rain.jpg") ;
	}
a {
	color:gray;
	text-decoration: none;
}

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background: rgba(192,192,192,0.2);
	color:gray;
	font-family:monospace;
	border-radius: 30px 30px 40px;
}

.header__section {
	display:flex;
	align-items:center;
}
.header__item {
	padding: 10px 15px;
	font-size: 1.3em;
	font-weight:lighter;
	margin-left: 5px;
}

.header__item:hover {
	background-color:rgba(192,192,192,0.3);
	border:0.1px transparent ;
	border-radius: 50px 50px 100px;
	}
.header__item a:hover {
	color:black;
}*/
@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Hairline');

body {
    background-image: url("img/bgcity.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Bungee', cursive;
    font-size: 12px;

}

.navbar {
    font-size: 1.5em;
}


.header {
    justify-content: space-between;
}

.type-string {
    font-family: 'Bungee Hairline', cursive;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    color: black;

}

li:hover {
    padding:1px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media (max-width: 695px) {
    .type-string{
        font-size:30px;
    }
}